@font-face {
  font-family: "VIC-Regular";
  font-style: normal;
  src: url("./fonts/VIC-Regular.eot");
  src: url("./fonts/VIC-Regular-iefix.eot?#iefix") format("embedded-opentype"),
       url("./fonts/VIC-Regular.woff2") format("woff2"),
       url("./fonts/VIC-Regular.woff") format("woff"),
       url("./fonts/VIC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "VIC-SemiBold";
  font-style: normal;
  src: url("djprshin./fonts//VIC-SemiBold.eot");
  src: url("./fonts/VIC-SemiBold-iefix.eot?#iefix") format("embedded-opentype"),
       url("./fonts/VIC-SemiBold.woff2") format("woff2"),
       url("./fonts/VIC-SemiBold.woff") format("woff"),
       url("./fonts/VIC-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "VIC-Bold";
  font-style: normal;
  src: url("./fonts/VIC-Bold.eot");
  src: url("./fonts/VIC-Bold-iefix.eot?#iefix") format("embedded-opentype"),
       url("./fonts/VIC-Bold.woff2") format("woff2"),
       url("./fonts/VIC-Bold.woff") format("woff"),
       url("./fonts/VIC-Bold.ttf") format("truetype");
}

.main-header{
    max-height: 160px;
}

.main-header .navbar{
  margin-left: 0%
}

.skin-blue .main-header .logo {
  background-color: #F1F1EF;
  height: 90px;
  line-height: 30px;
  text-align: left;
  color: #201547;
  padding-top: 15px;
  font-family: "VIC-SemiBold";
  font-size: 30px;
}

.skin-blue .main-header .navbar{
  background-color: #F1F1EF;
  background: #F1F1EF url(./djpr-shards-logo.svg) top right no-repeat;
  height: 90px;
}

@media (max-width: 768px){
  .main-header .logo {
    display: none;
}
}


.left-side, .main-sidebar{
padding-top: 90px;
background-color: #201547;
}

.content-wrapper, .right-side{
background-color: #FFFFFF;

}

body {
  background: #FFFFFF;
}

.skin-blue .main-header .navbar .sidebar-toggle{
  height: 90px;
  background-color: #53565a;
  color: #FFFFFF;
  z-index: 1000;
}

#sidebarCollapsed{
  background-color: #53565a;
}


.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #d9d9d6;
    colour: #53565a;
}

.skin-blue .main-header .logo:hover {
    background-color: #F1F1EF;
    colour: #53565a;
}

.sidebar{
  padding-top: 10px;
}

.sidebar li{
  color: #FFFFFF;
  height:60px;
  font-size: 20px;
  font-family: "VIC-Regular";
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  border-left: 10px solid #FFFFFF00;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar li a{
  width: 100%;
}

.sidebar ul{
  vertical-align: middle;
}

.sidebar li:hover{
  border-left: 10px solid #FFFFFF;
}

.skin-blue .sidebar a{
  color: #FFFFFF;
}

.tab-content{
  padding: 30px;
}

h1 {
  font-family: "VIC-Bold";
}

h2{
  font-family: "VIC-SemiBold";
}

h3, h4, h5, h6, p{
  font-family: "VIC-Regular";
}
