@font-face {
  font-family: "VIC-Regular";
  font-style: normal;
  src: url("./fonts/VIC-Regular.eot");
  src: url("./fonts/VIC-Regular-iefix.eot?#iefix") format("embedded-opentype"),
       url("./fonts/VIC-Regular.woff2") format("woff2"),
       url("./fonts/VIC-Regular.woff") format("woff"),
       url("./fonts/VIC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "VIC-SemiBold";
  font-style: normal;
  src: url("djprshin./fonts//VIC-SemiBold.eot");
  src: url("./fonts/VIC-SemiBold-iefix.eot?#iefix") format("embedded-opentype"),
       url("./fonts/VIC-SemiBold.woff2") format("woff2"),
       url("./fonts/VIC-SemiBold.woff") format("woff"),
       url("./fonts/VIC-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "VIC-Bold";
  font-style: normal;
  src: url("./fonts/VIC-Bold.eot");
  src: url("./fonts/VIC-Bold-iefix.eot?#iefix") format("embedded-opentype"),
       url("./fonts/VIC-Bold.woff2") format("woff2"),
       url("./fonts/VIC-Bold.woff") format("woff"),
       url("./fonts/VIC-Bold.ttf") format("truetype");
}

h1 {
  font-family: "VIC-Bold";
}

h2{
  font-family: "VIC-SemiBold";
}

h3, h4, h5, h6, p, a, body{
  font-family: "VIC-Regular";
}
